<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <title>SecretChat|Login</title>
  </head>
  <body>
    <div class="container">
      <div class="header row mt-4">
        <div class="offset-md-4 col-md-4">
          <h1 class="welcome-message">Welcome To the Dashboard</h1>
        </div>
      </div>
      <div class="row chat-box">
        <div class="offset-md-2 col-md-8">
          <table class="table table-light">
            <thead class="thead-dark">
              <tr>
                <th>Id</th>
                <th>Size</th>
                <th>Members</th>
                <th>Action</th>
              </tr>
            </thead>

            <% rooms.forEach(room => { %>
            <tr>
              <td><%= room.roomId %></td>
              <td><%= room.maxMembers %></td>
              <td><%= room.members %> </td>
              <td>
                <span>
                    <a href="/users/room/<%= room.roomId %> "  class="ml-3 btn btn-primary">
                        View
                    </a>
                    <button onclick="deleteUser(event)"  class="btn btn-danger">
                        Delete
                    </button>
                </span>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </body>

  <style>
      td{
          font-weight: bold;
          text-align: center;
      }
      tr{
        text-align: center;
      }
  </style>

  <script>
    async function deleteUser(event) {
      const roomId = event.target
        .closest("tr")
        .firstElementChild.textContent.trim();
      const data = { roomId };
      const stringigiedData = JSON.stringify(data);
      await fetch("/admin/room", {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
        body: stringigiedData,
      })
      window.location.reload()
    }
  </script>
</html>
